.header .logo-img {
  width: 168px;
  max-width: initial;
}

.header .nav-item-child {
  margin: 25px 0 25px 25px;
  background: #63cbd7;
  padding: 16px !important;
  line-height: 1;
}

.header .nav-item-child:hover, .header .nav-item-child:focus {
  color: #515769;
  background: #f3f4f5;
  transition-duration: .3s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.7, 1, .7, 1);
}

.header .nav-item-hover::after {
  all: initial;
}

.latest-product {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.latest-product:hover, .latest-product:focus, .latest-product:active {
  transform: scale(1.1);
}

.mapael .map {
  position: relative;
}

.mapael .mapTooltip {
  position: absolute;
  background-color: #fff;
  padding: 10px;
  z-index: 1000;
  max-width: 200px;
  display: none;
  font-weight: 100;
  box-shadow: 0 0 5px;
}

.mapael .mapTooltip span {
  color: #000;
  font-weight: 100 !important;
}

.mapLegend {
  color: rgba(0, 204, 204, 1);
}

.legend-container {
  margin-top: -451px !important;
  width: 260px;
  font-size: 14px;
  color: #6C6B6D;
  text-align: justify;
}

.legend {
  height: 10px;
  width: 25px;
  display: inline-block;
}

.legend-1 {
  background-color: rgba(0, 204, 204, 0.5);
}

.legend-2 {
  background-color: rgba(0, 204, 204, 1);
}


.shapeborder {
  border: 1px solid black;
}

.circle {
  border-radius: 50%;
}

label {
  display: inline-block;
  width: 1em;
}

.outer {
  background-color: rgba(0, 204, 204, 0.5);
  width: 150px;
  height: 150px;
  position: relative;
  border: none;
  margin: 0 auto;
}

.inner {
  background-color: rgba(0, 204, 204, 1);
  border: none;
  top: 50%;
  left: 30%;
  width: 42%;
  height: 42%;
  position: relative;
}

.element-animation {
  animation: animationFrames linear 2s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames linear 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames linear 2s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames linear 2s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames linear 2s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

.chart-container {
  margin: 0 auto;
  max-width: 150px;
}

.lc {
  padding-top: 10px;
  padding-bottom: 20px;
}




.black-text {
  color: #515769;
}

.btn-theme-lg {
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 65px;
}

.mb-100 {
  margin-bottom: 100px;
}

.test-submit {
  width: 100%;
}

.checkbox+.checkbox, .radio+.radio {
  margin-top: 0;
}

.service {
  min-height: 140px;
  padding: 20px;
}

.service:hover {
  background-color: #63cbd7;
  transition: background 1s linear;
  cursor: pointer;
}

.service-info h3 {
  margin-bottom: 0;
  line-height: 1.1;
}

.service:hover .service-info {
  transform: translate3d(0, -10px, 0);
}

.slide-fade-enter-active {
  transition: all .3s ease;
}

.slide-fade-leave-active {
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

.row-space-1>[class*="col-"] {
  padding-top: 1px;
  padding-bottom: 1px;
}

#callbackForm input, #callbackForm textarea {
  background-color: #fff;
  border: 1px solid #ccc;
}

#start-test h1 {
  color: #515769;
}

/* Preloader */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999;
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(../img/all/Preloader_2.gif);
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
}

.privacy-text {
  font-size: 16px;
  font-weight: 500;
  color: #515769;
}

@keyframes animationFrames {
  0% {
    transform: scaleX(1.00) scaleY(1.00);
  }
  51% {
    transform: scaleX(1.3) scaleY(1.3);
  }
  100% {
    transform: scaleX(1.00) scaleY(1.00);
  }
}

@-moz-keyframes animationFrames {
  0% {
    -moz-transform: scaleX(1.00) scaleY(1.00);
  }
  51% {
    -moz-transform: scaleX(1.3) scaleY(1.3);
  }
  100% {
    -moz-transform: scaleX(1.00) scaleY(1.00);
  }
}

@-webkit-keyframes animationFrames {
  0% {
    -webkit-transform: scaleX(1.00) scaleY(1.00);
  }
  51% {
    -webkit-transform: scaleX(1.3) scaleY(1.3);
  }
  100% {
    -webkit-transform: scaleX(1.00) scaleY(1.00);
  }
}

@-o-keyframes animationFrames {
  0% {
    -o-transform: scaleX(1.00) scaleY(1.00);
  }
  51% {
    -o-transform: scaleX(1.3) scaleY(1.3);
  }
  100% {
    -o-transform: scaleX(1.00) scaleY(1.00);
  }
}

@-ms-keyframes animationFrames {
  0% {
    -ms-transform: scaleX(1.00) scaleY(1.00);
  }
  51% {
    -ms-transform: scaleX(1.3) scaleY(1.3);
  }
  100% {
    -ms-transform: scaleX(1.00) scaleY(1.00);
  }
}
